.file-wrapper {
  .tags-column {
    padding: calc(var(--size-xl) * 2) var(--size-lg);
    display: flex;
    flex-direction: column;
  }
  .filter-column {
    padding: calc(var(--size-xl) * 2) var(--size-lg);
    display: flex;
    place-content: center;
  }
  .files-lines {
    position: relative;
    .file-back-question-button {
      position: relative;
      left: 25px;
      top: 10px;
    }
    .file-title {
      color: var(--heading-color-light);
      margin: var(--size-xs) var(--size-lg);
      font-family: var(--primary-main-page-font);
      font-style: normal;
      font-weight: bold;
      font-size: var(--size-mmd);
      text-align: justify;
    }
    .lines-action-bar-wrapper {
      text-align: -webkit-center;
      position: sticky;
      top: var(--size-s);
      z-index: 1;
    }
    .show {
      animation: fadeInAnimation 500ms;
    }
    .lines-list-wrapper {
      margin: var(--size-xl) var(--size-lg) var(--size-lg) var(--size-lg);
    }
    @keyframes fadeInAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .file-show-status {
    height: calc(100vh - var(--navbar-height));
    font-family: var(--primary-main-page-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-md);
    place-content: center;
    .file-sub-info {
      color: var(--grey-light);
      font-size: var(--size-s);
    }
  }
}
