.file-wrapper {
  .tags-column {
    padding: var(--size-lg);
    display: flex;
    flex-direction: column;
  }
  .filter-column {
    padding: var(--size-lg);
    display: flex;
    place-content: center;
  }
  .lines-list-wrapper {
    margin: var(--size-lg);
  }
  .file-show-status {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    align-items: center;
    place-content: center;
  }
}
