.file-tags {
  position: relative;
  background: var(--background-light-focus);
  border: var(--border-primary-light);
  box-sizing: border-box;
  border-radius: var(--border-radius-lg);
  display: flow-root;
  width: 90%;
  height: fit-content;
  min-height: 180px;
  .file-tags-header {
    display: flex;
    justify-content: center;
    padding: var(--size-s);
    font-family: var(--primary-main-page-font);
    font-size: var(--size-lg);
    text-transform: capitalize;
    color: var(--heading-color);
  }
  .file-tags-item-wrapper {
    padding: 0 var(--size-md) var(--size-lg) var(--size-md);
    display: flex;
    flex-flow: wrap;
    .file-tags-item {
      margin: 10px;
      .file-tags-item-text {
        font-family: var(--primary-main-page-font);
        font-size: var(--size-md);
        padding: var(--size-xs);
        color: var(--secondary-color-dark-700);
        text-transform: capitalize;
      }
      .ant-badge {
        position: relative;
        top: -12px;
        right: 12px;
      }
      
    }
  }
  .file-tags-collapse-button {
    position: absolute;
    cursor: pointer;
    // is -35px as it is the svg width of icon.
    right: -35px;
    transition: var(--fast-transition);
    -webkit-transition: var(--fast-transition);
  }
  &.sidebar {
    transition: var(--fast-transition);
    -webkit-transition: var(--fast-transition);
  }
  &.sidebar-collapsed {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  &.sidebar-collapsed .file-tags-collapse-button {
    right: 0px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
