.lines-list {
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: var(--main-page-center-padding);
  height: fit-content;
  min-height: 40vh;
  height: auto;
  .pagination-component {
    text-align-last: center;
    margin: 32px 0 0 0;
  }
  .line-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0px 40px;
  }
}
