.line-item {
  padding: 12px;
  margin-top: 24px;
  box-sizing: border-box;
  position: relative;
  .ant-badge {
    position: absolute;
    bottom: 0px;
    left: 5px;
  }
  .line-item-text {
    padding: 2px 32px;
    text-align: justify;
    font-size: var(--size-md);
    font-family: var(--tertiary-font);
    font-weight: 600;
    cursor: pointer;
  }
  .line-item-question {
    padding: 2px 32px;
    color: var(--secondary-color-dark-700);
    font-family: var(--primary-main-page-font);
    font-weight: 800;
    margin-bottom: 12px;
    cursor: pointer;
  }
  .line-action-items {
    position: relative;
    display: flex;
    left: 30px;
    padding: 2px 0px;
    text-align-last: center;
    .line-action-item {
      margin: 0px 12px 0px 0px;
      cursor: pointer;
    }
  }
  &.selected {
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 5px;
  }
}
