.user-profile-overview-wrapper {
  height: 230px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  border: 3px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 50px;
  position: relative;
  .user-profile-overview-header {
    position: absolute;
    width: 380px;
    left: 150px;
    top: -25px;
    font-family: var(--primary-main-page-font);
    background-color: var(--background);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: var(--heading-color);
    .user-profile-overview-header-text {
      padding: 6px 24px;
    }
  }
  .user-profile-overview-form {
    display: grid;
    grid-template-columns: 3fr 2fr;

    .user-profile-overview-form-fields {
      display: grid;
      grid-template-columns: 1fr 9fr;
      padding: 32px 40px 30px 60px;
      grid-gap: 24px;
      .user-profile-overview-form-field-label {
        align-self: center;
        font-family: var(--primary-main-page-font);
        font-style: normal;
        font-weight: normal;
        font-size: var(--size-md);
        color: #3d3d3d;
        text-transform: capitalize;
      }
      .user-profile-overview-form-field-value {
        background: var(--grey-lighter-dark);
        border-radius: 10px;
        width: 80%;
        padding: 8px 24px;
        font-family: var(--primary-main-page-font);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: var(--heading-color);
      }
    }
    .user-profile-overview-user-image-wrapper {
      display: grid;
      grid-template-rows: 3fr 1fr;
      margin: 10px 0 0 0;
      .user-profile-overview-user-image-button {
        display: flex;
        place-content: center;
      }
      .user-profile-overview-user-image {
        display: flex;
        align-items: center;
        justify-content: center;
        .circle {
          background: rgb(219, 246, 255);
          border-radius: 50%;
          height: 7em;
          width: 7em;
          display: flex;
          justify-content: center;
          .user-profile-image-circle-text {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            font-size: 42px;
            font-weight: 900;
            opacity: 0.5;
          }
        }
      }
    }
  }
}