.global-trail {
  .ant-result-title {
    font-family: var(--primary-main-page-font);
    font-style: normal;
    font-weight: bold;
    font-size: var(--size-xl);
    color:  var(--secondary-color-dark-700);
    margin: 0 var(--size-s) 0 0;
  }
}
