@mixin hide-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.item-trail-wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  .item-draggable {
    place-self: center;
    transform: scale(0.8);
  }
  .item-trail {
    border: 1px solid rgba(0, 0, 0, 0.21);
    box-sizing: border-box;
    border-radius: 5px;
    padding: var(--size-md) 20px;
  }
  .item-trail-input {
    margin: var(--size-mmd) 0 0 0;
    .ant-input {
      transition: all 0.08s;
    }
    .ant-input:hover {
      border-color: var(--secondary-color-dark-700);
    }
    .ant-input:focus {
      border-color: var(--secondary-color);
      border-right-width: 2px !important;
      outline: 0;
      border: 2px solid var(--secondary-color-dark-700);
      box-shadow: 0 0 0 0px var(--white);
    }
  }
  .item-trail-action-button {
    text-align-last: center;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    button {
      @include hide-button();
    }
  }
  .grey-svg {
    filter: brightness(0) saturate(100%) invert(75%) sepia(24%) saturate(0%) hue-rotate(272deg) brightness(102%) contrast(90%);
  }
}
.item-trail-wrapper:not(:first-child) {
  margin: var(--size-lg) 0px 0px 0px;
}
.item-trail-add-button {
  text-align-last: center;
  margin: 24px 0px 0 0;
  button {
    @include hide-button();
  }
}
