.home-footer {
  display: flex;
  justify-content: center;
  border-top: var(--navbar-bottom-border);
  margin-top: 50px;
  .home-footer-item {
    justify-self: center;
    margin: 40px 0px;
    font-family: var(--primary-main-page-font);
    font-size: var(--size-mmd);
    color: var(--grey-light);
    cursor: pointer;
  }
}
