.nav-bar-non-auth-wrapper {
  display: flex;
  align-items: center;
  place-content: space-between;
  width: -webkit-fill-available;
  padding: 0 var(--size-lg);
  .nav-logo {
    cursor: pointer;
  }
  .nav-central-action-wrapper {
    width: 40%;
    display: flex;
    place-content: center;
    font-family: var(--primary-main-page-font);
    .nav-central-action-logo {
      margin: 0 var(--size-md) 0 var(--size-xxs);
    }
  }
  .nav-corner-action-wrapper {
    display: flex;
    align-items: center;

    .nav-primary-action-button {
      margin-right: var(--spacer-xl);
      .push-button {
        color: var(--secondary-color);
        font-family: var(--primary-main-page-font);
        font-weight: 700;
        font-size: 18px;
        &.not-selected {
          border-radius: 10px;
        }
      }
    }
  }
}
