.nav-bar-auth-wrapper {
  display: flex;
  align-items: center;
  width: var(--main-page-width);
  border-bottom: var(--navbar-bottom-border);
  .nav-logo {
    cursor: pointer;
  }
  .nav-central-action-wrapper {
    width: 40%;
    display: flex;
    place-content: space-between;
    font-family: var(--primary-main-page-font);
    .nav-central-action-icon-button {
      border: 2px solid var(--background);
      background: var(--background);
      padding: var(--size-xs) var(--size-s) var(--size-xs) var(--size-s);
      border-bottom-width: thick;
      svg {
        margin-right: var(--size-s);
      }
      &.active {
        border: 2px solid var(--primary-color);
        padding: var(--size-xs) var(--size-s) var(--size-xs) var(--size-s);
        border-radius: var(--size-s);
        border-bottom-width: thick;
        color: var(--secondary-color-dark-700);
        svg{
          filter: brightness(0) saturate(100%) invert(13%) sepia(54%) saturate(6450%) hue-rotate(182deg) brightness(95%) contrast(101%);
        }
      }
    }
    .nav-central-action-icon-button:hover {
      border: 2px solid var(--primary-color);
      padding: var(--size-xs) var(--size-s) var(--size-xs) var(--size-s);
      border-radius: var(--size-s);
      border-bottom-width: thick;
    }
  }
  .hero-title{
    place-content: center;
    color: var(--secondary-color);
    font-family: var(--primary-main-page-font);
    font-weight: 700;
    font-size: 32px;
  }
  .button-text-primary{
    place-content: center;
    color: var(--secondary-color);
    font-family: var(--primary-main-page-font);
    font-weight: 700;
    font-size: 18px;
  }
  .nav-corner-action-wrapper {
    display: flex;
    align-items: center;
    .nav-primary-action-button {
      margin-right: var(--spacer-xl);
      color: var(--black);
      svg {
        margin-right: var(--size-xxs);
      }
    }
  }
}
