.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .book-list-item {
    padding: var(--size-xl);
    background: var(--background-light-focus);
    border: var(--book-card-un-selected-border);
    box-sizing: border-box;
    border-radius: var(--border-radius-xl);
    border-bottom-width: thick;
    justify-content: center;
    width: 80%;
    .book-list-item-wrapper {
      .book-list-picture-wrapper {
        text-align: -webkit-center;
      }
      .book-list-picture {
        background-color: #f0f0f0;
        border-radius: var(--border-radius-lg);
        background-size: cover;
        height: 164px;
        width: 164px;
        background-image: url("https://picsum.photos/600/600");
      }

      .book-list-info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .book-list-title {
          font-family: var(--primary-main-page-font);
          font-style: normal;
          font-weight: bold;
          font-size: var(--size-lg);
          color: var(--black);
          margin: 0 var(--size-s) 0 0;
        }
        .book-list-date {
          align-self: center;
          font-family: var(--primary-main-page-font);
          font-style: normal;
          font-weight: bold;
          font-size: var(--size-sm);
          color: var(--secondary-color);
        }
        .book-list-info-header-wrapper {
          display: flex;
          justify-content: space-between;
          .book-list-info-header {
            font-family: var(--primary-main-page-font);
            font-style: normal;
            margin-right: 24px;
            font-weight: bold;
            font-size: var(--size-md);
            color: var(--black);
            &.un-processed {
              color: var(--grey-light);
            }
          }
        }
      }
    }
  }
  .book-list-item:hover {
    border-bottom-width: thick;
    border: var(--book-card-selected-border);
  }
  .book-list-item:not(:first-child) {
    margin: 40px 0 0 0;
  }
}
