.book-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .book-list-item {
    display: grid;
    grid-template-columns: 200px repeat(1, 1fr) 200px;
    height: var(--book-card-height);
    padding: var(--size-xl) var(--size-xs);
    background: var(--background-light-focus);
    border: var(--book-card-un-selected-border);
    box-sizing: border-box;
    border-radius: var(--border-radius-xl);
    border-bottom-width: thick;
    width: 80%;
    .book-list-picture {
      margin: 0px var(--size-xl);
      background-color: #f0f0f0;
      border-radius: var(--border-radius-lg);
      background-size: cover;
      background-image: url("https://picsum.photos/200/300");
    }
    .book-list-title-wrapper {
      .book-list-title {
        font-family: var(--primary-main-page-font);
        font-style: normal;
        font-weight: bold;
        font-size: var(--size-lg);
        color: var(--black);
        margin: 0 var(--size-s) 0 0;
      }
      .book-list-date {
        font-family: var(--primary-main-page-font);
        font-style: normal;
        font-weight: bold;
        font-size: var(--size-sm);
        color: var(--secondary-color);
      }
    }
    .book-list-info-wrapper {
      .book-list-info-header {
        font-family: var(--primary-main-page-font);
        font-style: normal;
        font-weight: bold;
        font-size: var(--size-lg);
        color: var(--black);
        &.un-processed {
          color: var(--grey-light);
        }
      }
      .book-list-info-sub-header {
        font-family: var(--primary-main-page-font);
        font-style: normal;
        font-weight: bold;
        font-size: var(--size-sm);
        color: var(--black);
        &.un-processed {
          color: var(--grey-light);
        }
      }
      
    }
  }
  .book-list-item:hover {
    border-bottom-width: thick;
    border: var(--book-card-selected-border);
  }
  .book-list-item:not(:first-child) {
    margin: 40px 0 0 0;
  }
}
