@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,300;1,400;1,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500;600;900&display=swap");

:root {
  /* Font family */
  --primary-main-page-font: "Source Sans Pro", sans-serif;
  --secondary-font: Roboto;
  --tertiary-font: "Inconsolata", monospace;
  /* Sizes */
  --size-xxxs: 2px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 12px;
  --size-md: 16px;
  --size-mmd: 20px;
  --size-lg: 24px;
  --size-xl: 36px;
  --size-xxl: 54px;
  --size-xxxl: 72px;

  /* Abstract colors*/
  --background: #fafafa;
  --background-light-focus: #ffffff;

  --navbar-base: #ffffff;
  --primary-color: #eed44b;
  --primary-color-light-shade: #fff7cd;
  --primary-color-dark-shade: #b39709;

  --secondary-color: #004054;
  --secondary-color-light-100: #dbf6ff;
  --secondary-color-light-300: #8bc2d4;
  --secondary-color-light-500: #42a0be;
  --secondary-color-light-600: #eafaff;
  --secondary-color-dark-500: #236b82;
  --secondary-color-dark-700: #00536d;
  --secondary-color-dark-800: #003242;
  --secondary-color-dark-900: #002d3c;

  --black: #000;
  --white: #fff;
  --grey: #c4c4c4;
  --grey-light: #7d7d7d;
  --grey-lighter-dark: #f0f0f0;
  --grey-dark: #586d78;
  /* Gradients */
  --primary-main-page-gradient: linear-gradient(141deg, rgba(245, 229, 146, 1) 0%, rgba(203, 226, 146, 1) 34%, rgba(16, 183, 204, 1) 100%);

  /* Text colors*/
  --heading-color: #000;
  --sub-heading-color: #4e4e4e;

  /* Spaces  */
  --spacer-xs: 4px;
  --spacer-s: 8px;
  --spacer-m: 12px;
  --spacer-l: 18px;
  --spacer-xl: 28px;

  /* Widths  */

  --main-page-width: 90%;

  --fast-transition: all 0.5s ease-in-out;

  /* Heights  */
  --book-card-height: 200px;
  --navbar-height: 80px;

  /* Borders  */
  --navbar-bottom-border: 3px solid #ebebeb;
  --border-primary-light: 3px solid #e5e5e5;
  --book-card-un-selected-border: 1px solid #e5e5e5;
  --book-card-selected-border: 2px solid #e5e5e5;

  /* Border radius  */
  --border-radius-sm: 10px;
  --border-radius-md: 16px;
  --border-radius-lg: 20px;
  --border-radius-xl: 42px;

  /* Heights of components  */

  --book-profile-image-height: 200px;
  --book-profile-image-width: 150px;

  --navbar-height: 80px;
}
