@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,200;1,300;1,400;1,600;1,900&display=swap");

:root {
  /* Font family */
  --primary-main-page-font: "Source Sans Pro", sans-serif;

  /* Font sizes */
  --size-xxxs: 2px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-s: 12px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 36px;
  --size-xxl: 72px;

  /*Abstract colors defined*/
  --background: #fafafa;

  --navbar-base: #ffffff;
  --primary-color: #eed44b;
  --primary-color-dark-shade: #B39709;
  --secondary-color: #004054;
  --black: #000;
  --white: #fff;

  --navbar-bottom-style: 3px solid #ebebeb;
  /* widths defined  */

  --spacer-xs: 4px;
  --spacer-s: 8px;
  --spacer-m: 12px;
  --spacer-l: 18px;
  --spacer-xl: 28px;

  --main-page-width: 90%;
  /* heights of components defined  */

  --navbar-height: 80px;
}
