:root {
  /*Abstract colors defined*/
  --background-primary: #fafafa;

  --navbar-base: #ffffff;

  --black: #000;
  --white: #fff;

  /* widths defined  */

  $spacer-xs: 4px;
  $spacer-s: 8px;
  $spacer-m: 12px;
  $spacer-l: 18px;
  $spacer-xl: 28px;

  /* heights of components defined  */

  --navbar-height: 80px;
}
